body {
  font-family: "Poppins", sans-serif;
  margin: 128px auto;
}

hr {
  margin: 2px auto;
  color: rgba(0, 0, 0, 0.35);
  width: 100%;
}

.navbar {
  margin: 8px 0;
}
.logo {
  width: 50px;
}
.todays-date {
  font-size: 12px;
}
